In [ ]:
# operators in python 

## 6 types of operators in python 
1.arithematic operations
2.assigment operators
3.comparision operators
4.logical operators
5.membership operators 
6.identity operators

In [2]:
# arithematic operators - +,-,*,/,//,%
a=10
b=10
c=20
d=30
print(a+b)
print(b-c)
print(b*d)
print(d/a)
print(d//a)
print(d%a)

20
-10
300
3.0
3
0

In [3]:
#assigmnt operators - +=,-+,/=,//=,%=
a=100
a+=50
print(a)

150

In [4]:
b=200
b-=400
print(b)

-200

In [5]:
c=50
c*=100
print(c)

5000

In [13]:
# comparision operators ->,<,>=,<=,==,!=
a=10
b=20
c=20
d=30
print(a>b)
print(b==c)
print(b<c)
print(b!=c)
print(b>=a)
print(b<=a)

False
True
False
False
True
False

In [17]:
#logical operator - and,or, not
""""
and-both conditions are ture then result is ture , rest it false
or -either one conditions is ture the result is ture, rest case result is false
and truth table
TT=F
TF=F
FT=F
FF=F
OR TRUTH TABLE
TT=T
TF=T
FT=T
FF=F
""""

a=10
b=20
c=20
d=30
print(a>b and b==c)
print(a<b and c==b)
print(a>b or b==c)
print(a>b and b==c)

SyntaxError: unterminated string literal (detected at line 15) (3641094706.py, line 15)

In [ ]:
#mempership operators -in,not in 
name=["vikas","shivaji",sidh",chndra"]
print("vikas" in names)
print("shivaji" not in names)
print("vikas" not in names)
print("vikas" in names)

In [ ]:
#identity operators -